<template name="faq">
    <main>
        <div style="padding-top:50px; width:672px;" class="container">
            <h3>How to Place a Loan Request (ERC-20 Tokens) with MetaMask and MyEtherWallet part 1</h3>
            <iframe
                    width="854"
                    height="480"
                    src="https://www.youtube.com/embed/Tb6fzGXADho"
                    frameborder="0"
                    kwframeid="1">
            </iframe>
            <br>
            <h3>How to Place a Loan Request (ERC-20 Tokens) with MetaMask and MyEtherWallet part 2</h3>
            <iframe
                    width="854"
                    height="480"
                    src="https://www.youtube.com/embed/QOh5dirx6LQ"
                    frameborder="0"
                    kwframeid="2">
            </iframe>
            <br>
            <h3>How to Fund a Loan Request (ERC-20 Tokens) with MetaMask and MyEtherWallet</h3>
            <iframe
                    width="854"
                    height="480"
                    src="https://www.youtube.com/embed/yIDyNcuTTuk"
                    frameborder="0"
                    kwframeid="3">
            </iframe>
            <br>
            <h3>How to Pay a Loan Back (ERC-20 Tokens) with MetaMask and MyEtherWallet</h3>
            <iframe
                    width="854" height="480" src="https://www.youtube.com/embed/wrFFPxMaDZQ" frameborder="0"
                    kwframeid="4"></iframe>
            <br>
            <h3>How to Claim Tokens after Defaulted Loan (ERC-20 Tokens) with MetaMask and MyEtherWallet</h3>
            <iframe width="854" height="480" src="https://www.youtube.com/embed/VAZyOH4y1t4" frameborder="0"
                    kwframeid="5"></iframe>
            <br></div>
    </main>
</template>