<!--<template name="about">-->
    <!--<div style="padding-top:50px; width:800px;" class="container"><h2>About EthLend</h2><br>-->
        <!--<p>EthLend is product of <a href="https://github.com/ethwarrior">https://github.com/ethwarrior</a></p>-->
        <!--<p>You can find us on Slack: <a-->
                <!--href="https://join.slack.com/ethlend/shared_invite/MTg3MDY5MjEwNjczLTE0OTU2NjEwNTktZWE3MTE5YWNhOA">ethlend.slack.com</a>-->
        <!--</p>-->
        <!--<p>You can find us on Twitter: <a href="https://twitter.com/ethlend1">https://twitter.com/ethlend1</a></p>-->
        <!--<br>-->
        <!--<p><strong>Is EthLend safe?</strong></p>-->
        <!--<p>-->
            <!--EthLend is a fully decentralized Smart Contract application running on Ethereum Network. This means that-->
            <!--no loan data is stored on centralized servers and no loan contracts can be manipulated. EthLend is safe-->
            <!--by design. All transactions are found with Ethereum explorer (such as https://etherscan.io).-->
        <!--</p>-->
        <!--<p><strong>Are my tokens safe?</strong>-->
        <!--</p>-->
        <!--<p>-->
            <!--Your tokens are stored in the loan contract. This means that even we do not have access to the tokens.-->
            <!--The tokens are transferred to you when you pay the loan back with the premium. If you do not pay the-->
            <!--loan back the tokens are transferred to the lender to cover the losses.-->
        <!--</p>-->
        <!--<p><strong>What are the fees?</strong>-->
        <!--</p>-->
        <!--<p>EthLend charges borrower 0.01 ETH for Loan Request. The lender is charged 0.01 ETH for Funding the loan.-->
            <!--The fees are used to improve EthLend and make most out of Ethereum and Blockchain technology.-->
        <!--</p>-->
        <!--<p><strong>Will there be an ICO?</strong></p>-->
        <!--<p>Maybe.</p>-->
        <!--<p><strong>What network Ethlend uses?</strong></p>-->
        <!--<p>Ethereum Main Network.</p>-->
    <!--</div>-->
<!--</template>-->